body {
  background: linear-gradient(black, #0c0000);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.videocamlogo {
  margin-top: 10%;
  padding: 40px;
  margin-left: 30%;
  position: absolute;
}

.videocamlogo2 {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  margin-top: -3%;
}

.profbrandonprodlogo {
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}

#resizemainlogo {
  width:auto;
  max-width:90%;
  height:auto;
}

.line-separator{
  border-bottom: 2px solid red;
  width: 50%;
  margin-top: 30%;
}

.line-separator2{
  border-bottom: 1px solid white;
  width: 60%;
  margin-top: 6%;
}

.line-separator3{
  border-bottom: 1px solid red;
  width: 22%;
  margin-top: 10%;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-left: 5%;
    margin-top: 17%;
    padding-bottom: 22px;
}

.loginbutton {
    color: white;
    background-color: red;
    width: 180px;
    height: 60px;
    text-transform: uppercase;
    margin-top: 16%;
    border: none;
    font-size: 20px;
    font-family:'Maven Pro', sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    transition: .3s;
}

.loginbutton:hover {background-color: #5b0303}

.logoutbutton {
  color: red;
  background-color: black;
  text-transform: uppercase;
  margin-top: 5%;
  border: none;
  font-size: 20px;
  font-family:'Maven Pro', sans-serif;
  cursor: pointer;
  transition: .2s;
}

.logoutbutton:hover {color: white}

.logoutoptions {
  color: white;
  background-color: red;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  margin: 10px;
  margin-top: 16%;
  border: none;
  font-size: 20px;
  font-family:'Maven Pro', sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: .3s;
}

.logoutoptions:hover {background-color: #5b0303}

.logouttext {
  font-family: 'Electrolize', sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 25%;
}

.container {
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  width:270px;
  height:330px;
  background:black;
  margin: 1% auto;
  border: 2px solid white;
  position: relative; top: 45px;
  text-align: center;
}

.container .form {
    position: relative;
}

.subtitle {
  position: relative; margin-top: 55px;
  font-size: 35px;
  color: white;
  position: relative;
}

.signinbutton {
    background-color: red;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.topnav {
    background-color: none;
    font-family: Montserrat;
    color: white;
    margin-top: 25%;
}

.topnav a {
    float: center;
    margin-top: 10%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 45px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    margin: 5px;
}

.topnav a:hover {background-color: #5b0303;transition: .3s;}

.topnav a.active {background-color: #5b0303;}

.maintext {
  font-family: 'Electrolize', sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-top: 10%;
}

.submaintext {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 10%;
}

#redhighlight, h2 {
  color: red;
  font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    list-style-position: inside;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: left;
    width: 200px;
}

li:before {
    content: "•";
    font-size:30px;
    padding-right: 20px;
    color: red;
}

#map_maker {
  height: 400px;
  width: 350px;
  left: 0;
  position: 0;
  top: 0;
  background-color: grey;
}

#floating-panel {
  margin-top: 1.5%;
  background-color: none;
  font-family: 'Mave Pro', 'sans-serif';
  line-height: 30px;
  margin-right: 2.5%;
}

#icon_to_use {
  color: white;
  background-color: red;
  width: 120px;
  height: 30px;
  text-transform: uppercase;
  margin-top: 14%;
  border: none;
  font-size: 20px;
  font-family:'Maven Pro', sans-serif;
  text-align: center;
  cursor: pointer;
}

/*#start {
  color: red;
  background-color: white;
  width: 60px;
  height: 30px;
  text-transform: uppercase;
  margin-top: 0%;
  border: none;
  font-size: 20px;
  font-family:'Maven Pro', sans-serif;
  text-align: center;
  cursor: pointer;
}

#end {
  color: red;
  background-color: white;
  width: 60px;
  height: 30px;
  text-transform: uppercase;
  margin-top: 1%;
  border: none;
  font-size: 20px;
  font-family:'Maven Pro', sans-serif;
  text-align: center;
  cursor: pointer;
}*/

.titles {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 5%;
    margin-left: 0%;
    font-weight: bold;
}

.subtitles {
  font-family: 'Electrolize', sans-serif;
  font-size: 25px;
  color: red;
  margin-left: 0%;
  margin-top: 12%;
}

.clientvideos {
  margin-top: 3%;
}

.devices {
    font-size: 18px;
    color: red;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-top: 1px;
    margin-top: 12%;
}

#contactinfo {
    font-size: 20px;
    font-family: 'Electrolize', sans-serif;
    color: white;
    text-transform: lowercase;
}

.or {
    font-size: 35px;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px;
    margin-top: 12%;
}

.visit {
    font-size: 18px;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10%;
}

.closing {
    font-size: 24px;
    color: red;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15%;
}

.socials {
  float: right;
  padding: 12px;
  margin-right: 2%;
}

.copyright {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  margin-left: -2%;
  padding: 14px;
}

.footer {
  position: fixed;
  background-color: black;
  height: 50px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5 rem;
}
